@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* Shared Styles */
body{
    max-width: 1440px;
    /* margin: 0 auto; */
    background: black;
    border: 2px solid tomato;
    
}
section{
    max-width: 1060px;
    margin: 0 auto;
}
header{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(34, 33, 33),rgba(119, 119, 119, 0) 100%);
}

.burger-icon{
    display: none;
}
em{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
}
.small-texts{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
   
}
#shape{
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-size: 145px;
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.navbar ul{
    display: flex;
    gap: 3rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 20px 12px 5px;
}
.navbar ul li {
    list-style: none;
    color: white;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.home-button{
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
}
/* Banner Styles */





  
.btn-join{
    background: rgb(230, 83, 60);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    border: none;
    border-radius: 42px;
}

.btn-download{
    
   background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    
    border-radius: 42px;
    
}
.banner-texts h1{
    color: white;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 167px;
}
.banner-texts>*{
    margin-bottom: 28px;
}
.btn-container{
    display: flex;
    gap: 14px;
}

/* .bg{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px;
}
.text h4{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}
.bg h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}
.ball{
    background: rgb(230, 83, 60);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.vid-tutorial{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
} */
.image-container{
    position: relative;
}
.workout-vid, .vid-tutorial{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 24px;
}
.workout-vid{
    right: -100px;
    top: 150px;
}
.vid-tutorial{
    display: flex;
    align-items: center;
    gap: 8px;
    left: -100px;
    top: 430px;
}
.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.text h4{
    color: white;
    font-size: 24px;
    font-weight: 900;
}
.bg h2{
    color: white;
    font-size: 40px;
    font-weight: 900;
}